@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=REM:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-default);
  font-optical-sizing: auto;
  border: none;
  outline: none;
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.Navbar {
  background-color: var(--color-blue);
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 15px;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1490196078);
}
.Navbar .navbar-brand img {
  width: 100px;
}
.Navbar .nav-link {
  color: var(--color-white);
  font-weight: 400;
  margin: 0 10px;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}
.Navbar .nav-link:hover {
  color: var(--color-light-gray);
}

.Banner .upper-text h3 {
  font-weight: 700;
  font-size: 50px;
}
.Banner .upper-text p {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
}

.Search {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  border: 1.5px solid #F0F0F0;
  border-radius: 14px;
  justify-content: space-between;
}
.Search p {
  font-size: 14px !important;
  margin-left: 20px;
  margin-right: 10px;
}
.Search span {
  color: var(--color-light-gray);
}
.Search input {
  background-color: transparent;
  margin-right: 50px;
  margin: 0 10px;
}

.secondsearch {
  display: none;
}

.searchText {
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
  border: 1.5px solid #F0F0F0;
  border-radius: 14px;
  justify-content: space-between;
}
.searchText p {
  font-size: 16px !important;
  margin-left: 30px;
  margin-right: 10px;
}
.searchText span {
  color: var(--color-light-gray);
}
.searchText input {
  background-color: transparent;
  margin-right: 50px;
  border: none;
  margin: 0 10px;
}

.jobs {
  background-color: var(--color-light);
  padding: 20px 0;
  border-radius: 14px;
}
.jobs .top {
  background-color: var(--color-light-gray2);
  display: flex;
  justify-content: center;
  margin: 0 15px;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
}
.jobs .top span {
  font-size: 14px !important;
  padding: 10px 20px;
  font-weight: 500;
}
.jobs .top .active {
  background-color: var(--color-green);
  border-radius: 14px;
}
.jobs .list {
  padding: 0 40px;
}
.jobs .list p {
  font-size: 14px;
  margin: 5px 20px;
  color: var(--color-light-gray);
  cursor: pointer;
}
.jobs .list p:hover {
  color: var(--color-black) !important;
}

.Section1 {
  margin-top: -35px;
  z-index: -1;
  background-image: url(../Assets/images/bgg.png);
  background-size: cover;
  padding: 100px 0;
}
.Section1 h2 {
  font-weight: 700;
}
.Section1 .set h6 {
  font-size: 18px;
}
.Section1 .set .small {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.Section1 .set .small p {
  margin: 0;
  font-size: 12px;
  margin-left: 10px;
  color: var(--color-black);
}
.Section1 .set .small img {
  width: 10px;
}
.Section1 .cardd {
  background-color: var(--color-white);
  border-radius: 13px;
  padding: 15px 30px;
  padding-bottom: 10px;
}
.Section1 .cardd h6 {
  font-size: 14px;
}
.Section1 .cardd .stacks {
  display: flex;
  flex-wrap: wrap;
}
.Section1 .cardd .stacks img {
  width: 70px;
}
.Section1 .cardd .stacks .each {
  text-align: center;
  margin: 10px;
}
.Section1 .cardd .stacks .each p {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}

.Section2 {
  background-color: var(--color-black);
  padding: 50px 0;
  background-size: cover;
}
.Section2 .first h2 {
  font-weight: 700;
  color: var(--color-white);
  font-size: 50px;
}
.Section2 .first .img {
  width: 200px;
}
.Section2 .first p {
  font-weight: 400;
  margin: 20px 0;
  font-size: 20px;
  color: var(--color-white);
}
.Section2 .top {
  display: flex;
  align-items: center;
}
.Section2 .top h3 {
  color: var(--color-white);
}
.Section2 .top p {
  color: var(--color-light-gray);
}
.Section2 .top img {
  width: 100px;
  margin-right: 20px;
}

.shadow {
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.0705882353);
}

.Section3 {
  padding: 100px 0;
}
.Section3 h2 {
  font-weight: 700;
  font-size: 50px;
}
.Section3 ul {
  margin: 0;
  padding: 0;
}
.Section3 ul li {
  border: 1.5px solid #F0F0F0;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
}
.Section3 ul li img {
  width: 15px;
  -o-object-position: center;
     object-position: center;
}
.Section3 ul li p,
.Section3 ul li small {
  font-size: 13px;
}
.Section3 ul li .light {
  background-color: var(--color-gray2);
  width: 50px;
  height: 50px;
  padding: 13px 18px;
  border-radius: 50%;
  cursor: pointer;
}
.Section3 ul li .light:hover {
  background-color: #ddd;
}
.Section3 ul li .light-blue {
  background-color: var(--color-light-blue);
  width: 50px;
  height: 50px;
  padding: 13px 18px;
  border-radius: 50%;
  cursor: pointer;
}
.Section3 ul li .light-blue:hover {
  background-color: #7291fe;
}

.Section4 {
  padding: 50px 0;
}
.Section4 h2 {
  font-size: 43px;
  font-weight: 700;
}
.Section4 .only {
  margin-top: 90px;
  margin-left: 20px;
}
.Section4 .only img {
  width: 80%;
}
.Section4 .purp .text,
.Section4 .yell .text,
.Section4 .light .text {
  padding-top: 40px;
}
.Section4 .purp .text h4,
.Section4 .yell .text h4,
.Section4 .light .text h4 {
  font-weight: 600;
  font-size: 30px;
}
.Section4 .yell {
  background-image: url(../Assets/images/bg3.png);
  margin-top: -25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Section4 .light {
  background-image: url(../Assets/images/bg1.png);
  margin-top: -25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Section4 .purp {
  background-image: url(../Assets/images/bg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Section5 {
  background-image: linear-gradient(white, #F3F4FF);
}

.mySwiper {
  overflow: scroll;
}
.mySwiper .Slider1 {
  background-color: var(--color-white);
  box-shadow: 0px 15px 30px 0px rgba(191, 181, 255, 0.1490196078);
  border-radius: 15px;
}
.mySwiper .Slider1 .text h2 {
  font-size: 40px;
}
.mySwiper .Slider1 .text ul {
  padding: 0;
}
.mySwiper .Slider1 .text ul li {
  display: flex;
  align-items: center;
}
.mySwiper .Slider1 .text ul li img {
  width: 13px;
}
.mySwiper .Slider1 .text ul li p {
  margin: 0;
  font-size: 15px;
  margin-left: 10px;
}
.mySwiper .Slider1 .imageCard img {
  width: 100%;
}

.Questions {
  margin-top: -60px;
  background: #F3F3F3;
}
.Questions .Question {
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  cursor: pointer;
}
.Questions .Question img {
  width: 13px;
}
.Questions .Question .dark {
  background: #E8E8E8;
}
.Questions .Question .br,
.Questions .Question .bl {
  border-right: 1px solid #D6D6D6;
}
.Questions .Question .bl {
  border-left: 1px solid #D6D6D6;
}
.Questions .Question .general,
.Questions .Question .process,
.Questions .Question .title {
  text-align: left;
  padding: 30px 50px;
}
.Questions .Question .both {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Questions .Question .icon {
  display: none;
}
.Questions .Question:hover {
  background: #E8E8E8;
}
.Questions .Question:hover .icon {
  display: block;
}
.Questions .Question:hover .title {
  font-weight: 600;
}

.GetStarted {
  margin-top: -60px;
}
.GetStarted .startCard {
  background: #000;
}
.GetStarted .startCard .contact {
  background-image: url(../Assets/images/bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Footer {
  background: #000;
}
.Footer .first img {
  width: 100px;
  margin-bottom: 20px;
}
.Footer .first small {
  color: var(--color-light-gray);
  margin-bottom: 50px;
}
.Footer .first p {
  color: var(--color-light-gray);
  font-size: 11px;
  font-weight: 600;
}
.Footer .second ul {
  padding: 0;
}
.Footer .second ul .dark {
  color: var(--color-light-gray);
  font-size: 11px;
  font-weight: 600;
}
.Footer .second ul li {
  color: white;
  margin: 15px;
  font-size: 14px;
}
.Footer .down {
  margin-top: 50px;
  border-top: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  flex-wrap: wrap;
}
.Footer .down p {
  margin: 0;
  color: white;
  margin: 10px 0;
}
.Footer .down div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.Footer .down div span {
  text-decoration: underline !important;
  color: var(--color-light-gray);
  margin-right: 30px;
}

.navbar-toggler {
  border: none !important;
}

.searchText {
  font-size: 16px !important;
  margin-left: 30px;
  margin-right: 10px;
}
.searchText span {
  color: var(--color-light-gray);
}

.pad {
  display: none;
}

@media only screen and (max-width: 990px) {
  .navbar .nav-list {
    margin-top: 20px;
  }
  .navbar .flex {
    display: inline;
  }
  .pad {
    display: block !important;
  }
  .marg {
    display: none;
  }
  .Banner .upper-text h3 {
    font-size: 40px !important;
  }
  .Banner .upper-text p {
    font-size: 18px !important;
  }
  .Search {
    display: none;
  }
  .secondsearch {
    display: block;
  }
  .jobs .top span {
    font-size: 12px !important;
  }
  .jobs .list {
    padding: 0 10px;
    text-align: center;
  }
  .Section1 {
    margin-top: -85px !important;
  }
  .Section2 {
    margin-top: -10px !important;
  }
  .Section4 .only {
    margin-top: 60px;
  }
  .Section4 .only img {
    width: 10% !important;
  }
  .Section4 .jimg {
    margin-bottom: 34px;
  }
  .Section4 .col-md-4 {
    padding: 0 !important;
  }
  .Section4 .text {
    padding: 20px !important;
  }
  .general,
  .process,
  .title,
  .icon {
    text-align: left;
    padding: 15px 40px !important;
  }
  .general,
  .process {
    padding: 5px 40px;
  }
  .btn-yellow,
  .btn-light,
  .btn-dark {
    width: 60px;
    height: 60px;
  }
  .btn-yellow img,
  .btn-light img,
  .btn-dark img {
    width: 20px !important;
  }
  .patch {
    margin-top: -15px;
  }
  .patch3 {
    margin-bottom: -5px;
  }
  .patch2 {
    margin-top: -85px;
  }
}/*# sourceMappingURL=style.css.map */