:root {
  --color-blue: #525AA0;
  --color-black: #202229;
  --color-yellow: #FFBE2E;
  --color-white: #FFFFFF;
  --color-green: #C7F4C2;
  --color-light: #F8F8F8;
  --color-light-gray: #959595;
  --color-light-gray2: #D2D2D2;
  --color-footer: linear-gradient(180deg, #0C0C0C 0%, #202229 100%);
  --color-light-footer: #292B34;
}

.btn-white {
  background-color: var(--color-white);
  padding: 10px 14px;
  border-radius: 13px;
  color: black;
}

.btn-white:hover {
  background-color: var(--color-light);
}